/*Convertion Ration sp to rem for html */
/**
*
*
*
* RESET STYLES
*
*
*
**/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

img {
  width: 100%;
  height: auto;
}

@font-face {
  font-family: ringside-narrow;
  src: url("https://s1static.ara.cat/interactius/assets/common_new/fonts/Ringside/RingsideNarrow-Book.otf") format("otf");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: ringside-narrow;
  src: url("https://s1static.ara.cat/interactius/assets/common_new/fonts/Ringside/RingsideNarrow-Bold.otf") format("otf");
  font-style: normal;
  font-weight: 700;
  font-display: block;
}

/* Typography */
body {
  text-rendering: optimizeLegibility;
  font-family: 'ringside-narrow', sans-serif;
  color: #000;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0px;
  line-height: 1;
  background-color: #fff;
}

p {
  margin: 0;
}

.base-body {
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0px;
}

.base-body-small {
  font-weight: 300;
  font-size: 0.875rem;
  letter-spacing: 0px;
}

.barVote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-weight: 700;
}

@media only screen and (min-width: 774px) {
  .barVote__name {
    -ms-flex-preferred-size: 150px;
        flex-basis: 150px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .barVote__left {
    -ms-flex-preferred-size: 150px;
        flex-basis: 150px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .barVote__right {
    -ms-flex-preferred-size: 150px;
        flex-basis: 150px;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .barVote__percentWrapper {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .barVote__counted {
    -ms-flex-preferred-size: 110px;
        flex-basis: 110px;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}

@media only screen and (max-width: 774px) {
  .barVote {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .barVote__name {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .barVote__left {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .barVote__right {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .barVote__percentWrapper {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .barVote__counted {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.barVote__name {
  height: 40px;
  padding: 0.3125rem 0.625rem;
  background-color: #F4F6F8;
  border-top: 1px solid #D8E0E8;
  border-bottom: 1px solid #D8E0E8;
}

.barVote__left {
  height: 40px;
  color: #E3172D;
  padding: 0.3125rem 0.625rem;
  border-top: 1px solid #D8E0E8;
  border-bottom: 1px solid #D8E0E8;
}

.barVote__right {
  height: 40px;
  color: #1D6434;
  padding: 0.3125rem 0.625rem;
  border-top: 1px solid #D8E0E8;
  border-bottom: 1px solid #D8E0E8;
}

.barVote__percentWrapper {
  height: 40px;
  position: relative;
  color: #fff;
  padding: 0.3125rem 0.625rem;
  border-top: 1px solid #D8E0E8;
  border-bottom: 1px solid #D8E0E8;
}

.barVote__percentWrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  border: 1px solid yellow;
  height: 100%;
}

.barVote__percent--left {
  background-color: #E3172D;
}

.barVote__percent--right {
  background-color: #1D6434;
}

.barVote__counted {
  height: 40px;
  color: #555555;
  font-weight: 300;
  padding: 0.3125rem 0.625rem;
  background-color: #F4F6F8;
  border-top: 1px solid #D8E0E8;
  border-bottom: 1px solid #D8E0E8;
}

.barVote__img {
  max-width: 40px;
}

.container {
  padding: 1.25rem;
  width: 100%;
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
}

.container--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */